{% extends "home/home_page.html" %}

{% load data_extras %}
{% load wagtailcore_tags %}

{% block flight_type %}
  <h2><strong>ARRIVALS</strong></h2>
  <a href="/"><p>Back</p></a>
{% endblock %}

{% block flights_list %}
  <table class="table">
    <thead>
      <tr>
        <th class="ident">Flight</th>
        <th class="airline">Airline</th>
        <th class="origincity">Origin</th>
        <th class="destination">Destination</th>
        <th class="flightstatus">Status</th>
        <th class="timesort">Arrival Time</th>
      </tr>
    </thead>
    <tbody>
      {% for flight in enroute_arrived %}
        <tr>
          <td class="ident"><a href="http://flightaware.com/live/flight/{{ flight.ident }}" target="_blank">{{ flight.ident }}</a></td>
          <td class="airline">{{ flight.ident|airline }}</td>
          <td class="origincity">{{ flight.origin|location }}</td>
          <td class="destination">{{ flight.destinationName }}</td>
          <td class="status">
            {% if flight.estimatedarrivaltime %}
              Estimated
            {% else %}
              Landed
            {% endif %}
          </td>
          <td class="timesort">{{ flight.timesort|dformat }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>   
{% endblock %}