{% extends "base.html" %}

{% load static %}

{% block body_class %}template-homepage{% endblock %}

{% block content %}

  {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top flights-navbar">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand flights-nav-item">Flight Information</p>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li class="flights-nav-item">{{ user }}</li>
            <li class="nav navbar-nav navbar-right">
              <a href="{% url 'profiles:profile' %}">
                <span class ="glyphicon glyphicon-cog"></span>
              </a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
  {% endblock %}

  <div class="container flights-header-bg">

    {% block flights_title %}
      <div class="flights-header">
        <h1 class="flights-title">Flights Now</h1>
        <p class="lead flights-description">Flights enroute, landed, departed, and scheduled for your nearby airports.</p>
      </div>
    {% endblock %}

    <div class="flights-body flights-main">

      {% block flight_type %}
        <h3>ARRIVALS:
          <a href="{% url 'data:enroute' %}">Scheduled</a> |
          <a href="{% url 'data:arrived' %}">Actual</a> |
          <a href="{% url 'data:enroute_arrived' %}">All</a>
        </h3>
        <h3>DEPARTURES:
          <a href="{% url 'data:scheduled' %}">Scheduled</a> |
          <a href="{% url 'data:departed' %}">Actual</a> |
          <a href="{% url 'data:scheduled_departed' %}">All</a>
        </h3>
        <br />
        <h1>Scraper:</h1>
        <h3>ARRIVALS:</h3>
        <a href="{% url 'scraper:flights' airport='heathrow' operation='arrivals' %}">Heathrow</a> |
        <a href="{% url 'scraper:flights' airport='gatwick' operation='arrivals' %}">Gatwick</a>
        <br />
        <h3>DEPARTURES:</h3>
        <a href="{% url 'scraper:flights' airport='heathrow' operation='departures' %}">Heathrow</a> |
        <a href="{% url 'scraper:flights' airport='gatwick' operation='departures' %}">Gatwick</a>
        <br />
        <h3><a href="{% url 'scraper:carrousel' %}">CARROUSEL</a></h3>

      {% endblock %}

      {% block flights_list %}{% endblock %}
    </div>
  </div>

{% endblock %}
